*.arff filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
Datasets/extra_datasets_and_zips/YearPredictionMSD.txt filter=lfs diff=lfs merge=lfs -text
